body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}
 
h4 {
 font: bold;

}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right,#003da5,#003da5,#003da5);
    color: white;
}


/* div {

    border: solid red;
} */
.modal-header{
    background-color: #003da5;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #000000;
}

.site-footer {
    background-image: linear-gradient(#003da5, #DCDCDC);
    padding: 20px 0;
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}


.navbar
 {

    background-color:	#003da5;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
 background-color: 	#4682B4;

  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #003da5;
}
  
#features{

    background-image: url(images/tennisBg4.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;

}
